@tailwind base;
@tailwind components;
@tailwind utilities;
@import "keen-slider/keen-slider.min.css";
/* src/index.css (or App.css) */
:root {
  --app-font: "Noto Sans Khmer", system-ui, -apple-system, Segoe UI, Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji";
}
body {
  font-family: var(--app-font);
}

body {
  margin: 0;
  font-family: var(--app-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.custom-toast {
  font-family: "Noto Sans Khmer";
  font-size: 14px;
  font-weight: 500;
}
